// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  padding: 20px;
}

h3 {
  padding: 20px;
}

ul {
  padding: 20px;
  text-align: left;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #1E8495;
  text-align: left;
}

i {
  margin-left: 10px;
}

.checkbox {
  margin-right: 10px;
}

.btn {
  margin-left: 20px;
}

#details {
  margin-left: 25px;
}

.form-control {
  margin-left: 20px;
}

.form-group {
  display: inline-block;
}



